//global
$--sec-border-C: whitesmoke;
$--h6-C: #333;
//myBtn-cont 
$--myBtn-bgC: #2ca9bc;
$--myBtn-C: #ffffff;
/*----------------------------------------------*/
//section main heading
$--sec-main-heading-C: #0e0e0f;
$--sec-main-heading-alt-C: #ffffff;
$--sec-main-heading-second-C: #2ca9bc;
//body
$--body-bgC: #fbfbfb;
//header
$--header-bgC: #ffffff;
$--upper-header-C: #fbfbfb;
//$--upper-header-alt-C: #fbfbfb;

//hamburger menu
$--hamburger-menu-cont-bgC: rgb(255, 255, 255);
$--hamburger-button-dash-C: #2ca9bc;
$--hamburger-parent-menu-item-C: #2ca9bc;
$--hamburger-parent-menu-item-hover-C: rgba(44, 169, 188, 0.5);
$--hamburger-child-menu-item-C: #fbfbfb;
$--hamburger-child-menu-item-hover-C: #333;
$--hamburger-child-menu-item-wrapper-bgC: rgba(44, 169, 188, 1);
$--nav-item-border:  #2ca9bc;

//slogan section
$--slogan-heading-1-C: #fbfbfb;
$--slogan-heading-2-C: #2ca9bc;
$--slogan-article-C: #fbfbfb;
$--slogan-sec-bgC: #0e0e0f;
$--slogan-btn-border-C: #29335c;

//who-we-are section

//our-team section
$--our-team-bgC: transparent;
$--our-team-item-bgC: whitesmoke;
//service quality section
$--service-quality-main-heading-C: #F28345;
$--service-quality-group-heading-bgC: #0e0e0f;
$--service-quality-group-heading-C: #ffffff;
$--service-quality-group-article-C: #0e0e0f;
//faq section
$--faq-sec-main-heading-C: #F28345;
$--faq-sec-bgC: #0e0e0f;
$--faq-group-header-C: #F28345;
$--faq-answer-C: #ffffff;
$--svg-button-border-C: #F28345;
$--faq-svg-plus-btn-C: #F28345;
$--faq-group-border-bottom-C: #ffffff;
//pricing section
$--pricing-type-C: #FFD60A;
$--pricing-group-bgC: #29335c;
//our-team-slogan section
$--our-team-slogan-h2-C: #ffffff;
//footer
$--footer-sec-bgC: #000000;
$--footer-group-bgC: whitesmoke;
$--footer-border-C: whitesmoke;
$--footer-group-heading-C: #2ca9bc;
$--footer-group-info-C: #333;

//pages
//about-us section
$--about-us-article-h2-border-C: whitesmoke;
//contact-form
$--contact-form-btn-bgC: #2ca9bc;
//our-stores section
$--card-bgC: whitesmoke;
